#visit-tweet-card:hover 
{
     color:#000000; 
     text-decoration:none; 
     cursor:pointer;  
}
#visit-tweet-card{
    margin: 0px;
    color:#000000; 
    text-decoration:none; 
    cursor:pointer;
}
#none{
    float: left;
}

#padding-set{
    padding-bottom: 0px;
}

#user-image{
    float: left;
    width: 60px;
    /* margin-right: 20px; */
}

#user-image img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  float: left;
}

#user-tweet-message{
    float: left;
    text-align: start;
}

#tweet-fullname{
    float: left;
    margin-bottom: 0px;
    margin-right: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding-bottom: 0px;
}

#tweet-username{
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#chevrondown-toggle{
    background-color: white;
    color: black;
    top: 0px;
    margin: 0px;
    padding: 0px;
    float: right;
    border: none;
    font-size: large;
    opacity: 0.5;
    width: 20px;
    height: 20px;
}
#chevrondown:hover{
    color: red;
}


#tweet-usermessage{
    float: left;
    margin-left: 10px;
    margin-bottom: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#user-actions-icon-comment{
    background-color: white;
    border: none;
    border-radius: 30px 30px 30px 30px;
    padding-right: 0px;
}

#user-retweet-option{
    padding: 0px;
    margin: 0px;
}

#user-actions-icon-retweet{
    background-color: white;
    color: black;
    border: none;
    padding: 0px;
    margin: 0px;
    border-radius: 30px 30px 30px 30px;
}

#user-actions-icon-retweet-retweeted{
    background-color: white;
    color: green;
    border: none;
    padding: 0px;
    border-radius: 30px 30px 30px 30px;
}

#user-actions-icon-like{
    background-color: white;
    border: none;
    border-radius: 30px 30px 30px 30px;
    padding-right: 0px;
}

#user-actions-icon-like-danger{
    background-color: white;
    color: red;
    border: none;
    border-radius: 30px 30px 30px 30px;
    padding-right: 0px;

}

#user-actions-icon-bookmark{
    background-color: white;
    border: none;
    border-radius: 30px 30px 30px 30px;
}

#tweetimage img {
    border-radius: 20px 20px 20px 20px;
    max-width: 100%;
}