.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #09d3ac;
} */


#left {
    float:left;
    padding-left: 15px;
    text-align: center;
    /* margin-right: 5%; */
}

#center {
    float:left;
}



#twitterlogo {
  height: 50px;
  width: 50px;
}

.fit-image{
  width: 760px;
  object-fit: fill;
  height: 722px;   /* only if you want fixed height  */
}

#theader{
  width: 650px;
  object-fit: fill;
  height: 200px; /* only if you want fixed height  */
}

#twitterbutton{
  background-color: rgb(43, 188, 255)
}

#editprofile{
  color: rgb(43, 188, 255)
}

.profile-heading img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.picContainer{
  position: absolute;
    left: 10px;
    top: 190px;
    z-index: 2;
}

.profile-row{
  padding-top: 25px;
}

#tloc{
  width: 30px;
  height: 30px;
}

#desc{
  margin: 5px;
}