.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


#left {
    float:left;
    padding-left: 15px;
    text-align: center;
    /* margin-right: 5%; */
}

#center {
    float:left;
}



#twitterlogo {
  height: 50px;
  width: 50px;
}

.fit-image{
  width: 760px;
  object-fit: fill;
  height: 722px;   /* only if you want fixed height  */
}

#twitterbutton{
  background-color: rgb(33, 145, 250)
}

.profile-heading img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
